<!--<div class="content">-->
<!--    <p>De maneira sucinta, “Queimada” é a queima prevista e controlada de vegetação, enquanto que “Incêndio Florestal” é a queima imprevista e descontrolada da vegetação. Queimadas, ao saírem de controle se tornam incêndios.</p>-->
<!--    -->
<!--    <p>No uso popular, a palavra queimada é mais comum, talvez por existir como substantivo, adjetivo e verbo. Por exemplo, dizer “A plantação toda está queimada” indica o resultado de um evento que aconteceu no passado e, “A plantação toda está incendiada” se refere ao presente; pode-se usar “A plantação toda foi incendiada”, que incorpora uma ação intencional. Em outro exemplo, “A área queimada foi de 50 hectares” costuma ter preferência a “A área incendiada foi de 50ha”.</p>-->
<!--     -->
<!--    <p>Incêndio é associado mais ao fogo em uma habitação, prédio, fábrica, indústria, empresa, ou instalação qualquer, e o esperado é se dizer “Está ocorrendo um incêndio no posto de gasolina” e não “Está ocorrendo uma queimada no posto de gasolina”. É uma distinção capciosa, certamente.</p>-->
<!--     -->
<!--    <p>O “Programa Queimadas” do INPE optou pelo termo “queimadas” por ser popularmente mais comum em todo País.</p>-->
<!--    -->
<!--    <p>A seguir estão algumas definições mais completas com a distinção entre “queimadas” e “incêndios florestais”.</p>-->
<!--    -->
<!--    <p><strong>Queimada:</strong></p>-->
<!--    -->
<!--    <p>Queimada: Verbo ou Substantivo ou Adjetivo. Queima de uma floresta ou parte dela, após a derrubada das árvores; queima da vegetação cortada, de uma roça, antes do plantio. Fonte: -->
<!--        <span class="link-external">-->
<!--            <a href="https://www.dicionarioinformal.com.br/inc%c3%aandio/" target="_blank">https://www.dicionarioinformal.com.br/queimada/</a>-->
<!--        </span>-->
<!--    </p>-->
<!--    -->
<!--    <p>Considera-se Queima Controlada o emprego do fogo como fator de produção e manejo em atividades agropastoris ou florestais, e para fins de pesquisa científica e tecnológica, em áreas com limites físicos previamente definidos e realizado de forma planejada e controlada. Fonte: -->
<!--        <span class="link-external">-->
<!--            <a href="https://www.dicionarioinformal.com.br/inc%c3%aandio/" target="_blank">http://www.terrabrasilis.org.br/ecotecadigital/pdf/queimada-controlada.pdf</a>-->
<!--        </span>-->
<!--    </p>-->
<!--     -->
<!--    <p>Queimada é a prática agropastoril ou florestal em que o fogo é utilizado de forma controlada. Apesar de envolver a destruição, a queima da vegetação é uma importante forma de preparação do terreno para semear e plantar ou para renovar as pastagens. Fonte: Lacerda, Fabíola. Prevenção e monitoramento de incêndios florestais em terras indígenas: programa de capacitação em proteção territorial. FUNAI – Fundação nacional do Índio. Brasília: FUNAI/GIZ, 2013. 96 p. ISBN: 978-85-7546-042-9. Disponível em:-->
<!--        <span class="link-external">-->
<!--            <a href="https://www.dicionarioinformal.com.br/inc%c3%aandio/" target="_blank">http://www.funai.gov.br/arquivos/conteudo/cgmt/pdf/Prevencao_e_Monitoramento_de_Incendios_Florestais_em_TIs.pdf</a>-->
<!--        </span>-->
<!--    </p>-->
<!--      -->
<!--    <p>Queimada é uma prática primitiva da agricultura, destinada principalmente à limpeza do terreno para o cultivo de plantações ou formação de pastos, com uso do fogo de forma controlada que, às vezes, pode descontrolar-se e causar incêndios em florestas, matas e terrenos grandes. Fonte: -->
<!--        <span class="link-external">-->
<!--            <a href="https://www.dicionarioinformal.com.br/inc%c3%aandio/" target="_blank">https://pt.wikipedia.org/wiki/Queimada</a>-->
<!--        </span>-->
<!--    </p>-->
<!--      -->
<!--    <p><strong>Incêndio Florestal:</strong></p>-->
<!--     -->
<!--    <p>Incêndio: Substantivo. Fogo fora de controle que necessita para sua extinção equipamentos adequados e pessoal habilitado como bombeiros e brigadistas. Fonte: -->
<!--        <span class="link-external">-->
<!--            <a href="https://www.dicionarioinformal.com.br/inc%c3%aandio/" target="_blank">https://www.dicionarioinformal.com.br/inc%c3%aandio/</a>-->
<!--        </span>-->
<!--    </p>-->
<!--     -->
<!--    <p>Incêndio florestal é fogo fora de controle em qualquer tipo de vegetação, seja em plantações, pastos ou áreas de cerrado. Além de destruir a vegetação nativa e matar muitos animais selvagens, um incêndio florestal também pode causar sérios prejuízos financeiros e, até mesmo, colocar em risco a vida de pessoas e de animais domésticos. Em outras palavras, os incêndios florestais, além de queimarem lavouras, pastos e áreas naturais, podem atingir casas, galpões, armazéns e instalações rurais, como celeiros, galinheiros, viveiros, chiqueiros e currais. Fonte: Incêndios Florestais – Causas, Consequências e Como Evitar. IBRAM – Instituto Brasília Ambiental, Coordenação de Prevenção e Controle de Riscos Ambientais, Brasília, DF, 2009. Disponível em -->
<!--        <span class="link-external">-->
<!--            <a href="https://www.dicionarioinformal.com.br/inc%c3%aandio/" target="_blank">http://www.ibram.df.gov.br/wp-content/uploads/2018/02/Cartilha-Inc%C3%AAndios-Florestais-Causas-Consequ%C3%AAncias-e-Como-Evitar.pdf</a>-->
<!--        </span>-->
<!--    </p>-->
<!--     -->
<!--    <p>Incêndio florestal – é todo fogo sem controle que incide sob qualquer forma de vegetação. Pode ser desencadeado por causas naturais (raios) ou provocados de forma acidental (descuidos) ou intencional (ações de incendiários). Fonte: Lacerda, Fabíola. Prevenção e monitoramento de incêndios florestais em terras indígenas: programa de capacitação em proteção territorial. FUNAI – Fundação nacional do Índio. Brasília: FUNAI/GIZ, 2013. 96p. ISBN: 978-85-7546-042-9. Disponível em -->
<!--        <span class="link-external">-->
<!--            <a href="https://www.dicionarioinformal.com.br/inc%c3%aandio/" target="_blank">http://www.funai.gov.br/arquivos/conteudo/cgmt/pdf/Prevencao_e_Monitoramento_de_Incendios_Florestais_em_TIs.pdf</a>-->
<!--        </span>-->
<!--    </p>-->

<!--    <p><strong>Denuncia de queimadas:</strong></p>-->

<!--    <p>São várias as opções, como: Bombeiros, Secretaria Estadual do Meio Ambiente, IBAMA, Prefeitura, e Instituto Florestal.</p>-->

<!--    <p><strong>Legislações pertinentes:</strong></p>-->

<!--    <p><span class="link-external">-->
<!--        <a href="http://queimadas.dgi.inpe.br/queimadas/portal/links-adicionais/links-e-material-de-30s" target="_blank">Link para o site do Inpe com legislações pertinentes às queimadas</a>-->
<!--    </span></p>-->
<!--       -->
<!--</div>-->
<div class="content">
  <div class="container">
    <h2>Como evitar queimadas e ajuda proteger o meio ambiente e minimizar os riscos :</h2>
    <img src="assets/orientaçoes/queimadas.webp" width="1000px" height="200px">
  </div>
  <p>O tempo seco que vem em épocas como o inverno traz também um grande perigo: as queimadas, que resultam na queima de
    grandes extensões de vegetação. O risco de incêndios ameaça não apenas áreas de preservação isoladas, mas também
    centros urbanos, já que 90% dos focos começam por razões humanas.
    Entenda como você pode ajudar a evitar as queimadas e confira algumas dicas de vão ajudar a diminuir os riscos.</p>
  <p>Em casos de Queimadas, a melhorar orientação é chamar algum orgão responsável para cuidar da situação, mas aqui vão
    algumas dicas de prevenção e combate das queimadas: </p>
  <div class="container">
    <p>1. Evite jogar bitucas de cigarro no chão</p>
    <img src="assets/orientaçoes/cigarro.jpg" width="400px" height="200px">
    <p>2. Não solte balões</p>
    <img src="assets/orientaçoes/balao.jpg" width="400px" height="200px">
    <p>3. Não faça fogueiras próximas a vegetação</p>
    <img src="assets/orientaçoes/fogueira.jpg" width="400px" height="200px">
    <p>4. Evite queimar móveis ou lixo</p>
    <img src="assets/orientaçoes/lixo.jpg" width="400px" height="200px">
    <p>5. Capine a área perto de sua casa</p>
    <img src="assets/orientaçoes/capinando.jpg" width="400px" height="200px">
    <p>6. Não use fogo na limpeza de terrenos</p>
    <img src="assets/orientaçoes/fototerreno.jpg" width="400px" height="200px">
    <p>7. Molhe faixas de terra seca</p>
    <img src="assets/orientaçoes/terraseca.jpg" width="400px" height="200px">
    <p>8. Não lance fogos de artifício em locais de vegetação</p>
    <img src="assets/orientaçoes/fogosartificio.jpeg" width="400px" height="200px">
  </div>

  <div class="container">
    <h2>O que fazer caso tenha uma ocorrência de queimada?</h2>
    <p>Em casos de ocorrências de queimadas , o melhor a fazer é chamar os
      bombeiros através do número 193 mas podemos contar com a ajuda de outros orgãos como : Secretaria Estadual do Meio
      Ambiente, IBAMA, Prefeitura, e Instituto Florestal. Informe a localidade, se possível em detalhes, para que os
      profissionais cheguem
      a tempo para conter as chamas. Nunca tente apagá-las você mesmo! Afaste-se imediatamente e espere o auxílio
      chegar.</p>
  </div>

  <div class="container">
    <h2>Links Úteis</h2>
    <p>http://queimadas.dgi.inpe.br/queimadas/portal</p>
    <p>https://www.gov.br/ibama/pt-br</p>
  </div>


</div>
