mat-toolbar{
    height: 4em;
  }

.header {
    background: rgb(186,255,186);
    background: -moz-linear-gradient(180deg, rgba(186,255,186,1) 0%, rgba(144,238,144,1) 45%, rgba(121,222,121,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(186,255,186,1) 0%, rgba(144,238,144,1) 45%, rgba(121,222,121,1) 100%);
    background: linear-gradient(180deg, rgba(186,255,186,1) 0%, rgba(144,238,144,1) 45%, rgba(121,222,121,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#baffba",endColorstr="#79de79",GradientType=1); 
    
    color: #404f24;
}

.header .logo {
    max-height: 64px;
}

.header .title-group {
    padding-left: 5px;
    font-weight: bold;
    font-size: xx-large;
}

.header .spacer {
    flex: 1 1 auto;
}

.mat-button{
    font-size: 1.4rem;
}
