<mat-toolbar class="header mat-elevation-z3" fxLayoutGap="5px">


     <span routerLink="home" class="title"><a><img class="logo" src="assets/img/Logo.png" alt="logo"></a></span>
     <span class="title-group">Queimadas App</span>
     <span class="spacer"></span>


  <div>
    <a class="opcoes" mat-button routerLink="home">Home</a>
    <a class="opcoes" mat-button routerLink="areas-protegidas">Areas Protegidas</a>
    <a class="opcoes" mat-button routerLink="mapa">Mapa das Queimadas</a>
    <a class="opcoes" mat-button routerLink="orientacoes">Orientações</a>
    <a class="opcoes" mat-button routerLink="loja">Loja</a>
  </div>

</mat-toolbar>
