<mat-toolbar class="header mat-elevation-z6">
  <span routerLink="home" class="title"><a><img class="logo" src="assets/img/Logo.png" alt="logo"></a></span>
  <span class="title-group">Queimadas App</span>
  <span class="spacer"></span>
  <span class="header-menu">
    <a mat-button routerLink="home">Home</a>
    <a mat-button routerLink="areas-protegidas">Areas Protegidas</a>
    <a mat-button routerLink="mapa">Mapa das Queimadas</a>
    <a mat-button routerLink="orientacoes">Orientações</a>
    <a mat-button routerLink="loja">Loja</a>
  </span>
</mat-toolbar>
